@import "../../sass/utils/variables";

#projects {
  padding: 20px;

  h2 {
    width: auto;
    text-align: left;
    background: rgb(75 0 255 / 18%);
    padding: 5px 20px;
    margin-top: 0px;
    border-radius: 10px;
  }
}

/// RESPONSIVE ///
// @media (min-width: $tablette) {
//   #projects {
//     height: 100vh;
//   }
// }

@media (min-width: $desktop) {
  #projects {
    .projects-container {
      margin: 60px;
    }
  }
}
