@import "../../sass/utils/variables";

form {
  position: relative;
  z-index: -1;
  max-width: 768px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(
    181deg,
    #4b00ff 30%,
    rgba(7, 5, 33, 0.11) 100%,
    transparent 100%
  );
  padding: 20px;
  border-radius: 5px;
  h2 {
    padding: 5px 0px;
  }
}

label {
  font-weight: bold;
  color: white;
  width: 100%;
  max-width: 500px;
  margin: 0px auto 15px;
}

input,
textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 0px auto 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  width: 100%;
}

p {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 82%);
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  font-size: 25px;
  background: #9d13dc;
  width: 40px;
  height: 38px;
  border-radius: 5px;
}

/// RESPONSIVE ///
@media (min-width: $tablette) {
  form {
    margin: auto;
    textarea {
      height: 235px;
    }
  }
}

@media (min-width: $smallScreen) {
  form {
    justify-content: center;
    height: 70vh;
    margin-bottom: 100px;
  }
}

@media (min-width: $desktop) {
  form {
    margin-bottom: 30px;
  }
}
