@import "../../sass/utils/variables";

.soft-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 35px 0px 80px;
  border-radius: 5px;
  color: white;
  justify-content: space-around;
}

.skill-bubble {
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 13px;
  margin: 5px;
  background: linear-gradient(311deg, rgb(7, 5, 33) 8%, rgb(157, 19, 220) 40%);
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.container-button-skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .button-skills {
    font-family: "Poppins";
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    color: $primary;
    border-radius: 5px;
    border: solid 1px $primary;
    width: 145px;
    height: 40px;
    background: transparent;
    transition: background-color 0.5s ease-out, transform 0.5s ease-out;

    &.selected {
      background-color: $primary;
      color: white;
      cursor: default;
      font-size: 16px;
    }
  }
  :hover {
    cursor: pointer;
    background: $primary;
    color: white;
  }
}

.content-skills.soft-selected {
  border-radius: 5px;
}

.content-skills.hard-selected {
  display: flex;
  background: linear-gradient(
    280deg,
    rgb(7 5 33 / 0%) 17%,
    rgb(157, 19, 220) 72%
  );
  border-radius: 5px;
  padding-left: 20px;
  h3 {
    margin-bottom: 13px;
    color: white;
  }
  ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin-top: 0px;
    color: white;
    li {
      display: flex;
      font-size: 25px;
      background: black;
      border-radius: 5px;
      margin: 3px;
      padding: 3px;
      box-shadow: 0px 0px 5px $primary;
    }
  }
}

/// RESPONSIVE ///
@media (min-width: $tablette) {
  .soft-skills {
    align-items: center;
    justify-content: space-around;
    .skill-bubble {
      width: 200px;
      text-align: center;
    }
  }
  .content-skills.hard-selected {
    justify-content: flex-end;
    background: linear-gradient(
      128deg,
      rgba(7, 5, 33, 0) 11%,
      rgb(157, 19, 220) 31%
    );
    padding: 35px 0px 80px;
    h3 {
      width: 210px;
    }
    .container-title-logo {
      display: flex;
      ul {
        margin: auto 0px;
        width: 210px;
        justify-content: flex-end;
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .content-skills.hard-selected {
    justify-content: center;
  }
}
