$primary: #9d13dc;
$secondary: #4b00ff;

$backgroundHeader: linear-gradient(
  2deg,
  rgb(255 255 255 / 0%) 30%,
  rgb(96, 18, 181) 100%,
  transparent 100%
);

$backgroundSkillsContainer: linear-gradient(
  287deg,
  rgba(7, 5, 33, 1) 17%,
  rgba(157, 19, 220, 1) 72%
);

$tablette: 768px;
$smallScreen: 1024px;
$desktop: 1280px;
