@import "../../sass/utils/variables";

.my-slider {
  color: white;
  padding: 10px;
  margin: 100px 50px;
  border-radius: 5px;
  font-weight: bold;

  p {
    color: white;
  }

  .slick-list {
    text-align: center;
  }

  .slick-dots {
    bottom: -50px; // Ajustez la position des points si nécessaire

    li {
      margin: 0 5px; // Espacement entre les points

      button {
        font-size: 0; // Cache le caractère par défaut du bouton
        width: 15px; // Largeur du point
        height: 15px; // Hauteur du point
        border-radius: 50%; // Rend le point rond
        background-color: rgb(0, 0, 0); // Couleur du point
        &:before {
          content: "";
        }
      }

      &.slick-active button {
        background-color: $primary; // Couleur du point actif
      }
    }
  }
}
