#skills {
  padding: 20px;

  .skills-title {
    margin-top: 0px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 25px;
    background: rgb(75 0 255 / 18%);
  }
  .skills-container {
    padding: 20px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #4b00ff;
  }
}
