@import "../../sass/utils/variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

/// RESPONSIVE ///
@media (min-width: $desktop) {
  header {
    &.light,
    &.dark {
      background: transparent;
      box-shadow: none;
    }
  }
}
