body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body.light {
  background-image: url("/src/assets/images/background-reverse.png");
}

body.dark {
  background-image: url("/src/assets/images/background.jpg");
}

.light h2,
.light h3 {
  color: black;
}

.dark h1,
.dark h2,
.dark h3 {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.light label {
  color: white;
}

.light .footer-text {
  color: black;
}

.dark .errorText{
  color: white;
}
