.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 0px;
  width: 100%;
  flex-direction: column;
  .footer-text {
    color: #fff;
    font-size: 12px;
    padding: 4px;
    border-radius: 5px;
  }
  a {
    color: #9d13dc;
  }
}

/// RESPONSIVE ///
@media (min-width: 667px) and (max-width: 800px) {
  .footer {
    height: 80vh;
  }
}
