@import "../../sass/utils/variables";

.banner {
  height: 100vh;
  width: 100%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    margin: 0px;
    color: white;
    filter: drop-shadow(0px 2px 5px black);
  }

  p {
    width: 250px;
    font-size: 17px;
    color: white;
  }

  .container-title-subtitle {
    top: 260px;
    position: absolute;
  }

  .monLogo {
    width: 350px;
    position: absolute;
    bottom: 90px;
    z-index: -1;
    filter: drop-shadow(0px 3px 1px black);
  }

  .container-icons {
    position: relative;
    bottom: -220px;
    right: 95px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
      color: $primary;
      height: 30px;
      display: inline-block; /* Transforme le lien en bloc en ligne pour permettre le padding */
      padding: 5px;
      margin: 5px 0;
    }
  }

  .logo-fade-in {
    will-change: opacity;
    animation: fadeIn 5s ease-in-out, zoomIn 5s ease-in-out forwards,
      wave 5s ease-in-out forwards;
  }
}

/// RESPONSIVE ///
@media (min-width: 667px) and (max-width: 800px) {
  .banner {
    .monLogo {
      top: 10px;
    }
    .container-icons {
      top: 170px;
      right: 0px;
    }
  }
}

@media (min-width: $tablette) {
  .banner {
    .container-title-subtitle {
      top: 320px;
      font-size: 40px;
      p {
        width: 100%;
        font-size: 25px;
      }
    }

    .container-icons {
      top: 320px;
      right: 0px;
      justify-content: center;
    }
  }
}

@media (min-width: $smallScreen) {
  .banner {
    .container-title-subtitle {
      font-size: 60px;
      p {
        font-size: 40px;
      }
    }
    .monLogo {
      width: 500px;
      top: 320px;
    }
    .container-icons {
      top: 230px;
      right: 0px;
      .social {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .banner {
    .container-title-subtitle {
      top: 480px;
    }
    .monLogo {
      width: 850px;
      top: -110px;
    }
  }
}
